.DS_Store
node_modules
_site
.sass-cache
.npm-debug.log
drafts/Makefile
drafts/.refcache
temp/*.md
*.key
*.ppt
*.pptx

temp/*/*.todo
temp/workdiary.md
temp/workdiary.html
temp/personal/
temp/work/work.todo

assets/files/jaime_cv.docx

