---
layout: page
title: Blog
pagination:
  enabled: true
---

<h1>Blog</h1>

<ul class="entries">
{% if site.pagination.enabled %}
    {% for post in paginator.posts %}
        {% if post.category == 'blog' and post.hidden != true %}
        <li>
            <span class="d">{{ post.date | date: "%Y-%m-%d" }}</span>
            <div>
                <h4 class="t"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
                <p class="e">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
            </div>
        </li>
        {% endif %}
    {% endfor %}
    {% include pagination.html %}
{% else %}
    {% for post in site.posts %}
        {% if post.category == 'blog' and post.hidden != true %}
        <li>
            <span class="d">{{ post.date | date: "%Y-%m-%d" }}</span>
            <div>
                <h4 class="t"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h4>
                <p class="e">{{ post.excerpt | strip_html | truncatewords: 20 }}</p>
            </div>
        </li>
        {% endif %}
    {% endfor %}
{% endif %}
</ul>
