.footer-main
    border-top: 1px solid $epsilon
    padding: 40px 0
    margin: 40px 0 0
    font-size: 1.3rem
    color: $gama
    font-weight: $thin-font
    text-align: center
    position: relative

    &:before
        display: block
        content: " "
        width: 7px
        height: 7px
        border: $epsilon 1px solid
        position: absolute
        top: -5px
        left: 50%
        margin-left: -5px
        background: $omega
        box-shadow: $omega 0 0 0 5px
        border-radius: 3px

    > .footer-links
        margin-bottom: 10px

        > .link
            display: inline-block
            margin: 0 8px
            color: $gama
            text-decoration: none
            vertical-align: middle
            transition: color .2s

            &:hover
                color: $delta

            > svg
                vertical-align: middle

    > .copyright
        color: $gama
