---
layout: default
---
{% include nav.html %}

<article>
<header class="post-header">
  {% if page.image and page.headerImage %}
  <img class="title-image" src="{{ page.image }}" alt="{{ page.title }}" loading="eager" decoding="async">
  {% else %}
  <span class="title-icon">¶</span>
  {% endif %}
  <h1>{{ page.title }}</h1>
  <span class="date">{{ page.date | date: "%A, %d %B %Y" }}{% if site.read-time %} · {% include read-time.html %}{% endif %}</span>
  {% if site.show-tags and page.tags.size > 0 %}
  <span class="tags">
    {% for tag in page.tags %}
    <a href="{{ site.url }}/tags/#{{ tag | slugify }}">{{ tag }}</a>
    {% endfor %}
  </span>
  {% endif %}
</header>

{{ content }}

</article>

{% if site.post-advance-links contains page.category %}
<nav class="blog-nav">
  {% if page.previous.hidden == false and page.previous.url %}
  <a class="prev" href="{{ site.url }}{{ page.previous.url }}">&larr; {{ page.previous.title }}</a>
  {% else %}
  <span class="prev"></span>
  {% endif %}
  {% if page.next.hidden == false and page.next.url %}
  <a class="next" href="{{ site.url }}{{ page.next.url }}">{{ page.next.title }} &rarr;</a>
  {% else %}
  <span class="next">(most recent)</span>
  {% endif %}
</nav>
{% endif %}

{% if site.related %}
{% include related.html %}
{% endif %}

{% if site.show-author %}
{% include author.html %}
{% endif %}

{% include footer.html %}
