$fontSans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif
$fontMonospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace

$alpha: #444
$beta: #222
$gama: #999
$delta: #4b0082
$epsilon: #ededed
$omega: #fff
$zeta: #000
$kappa: #27f36a26

$thin-font: 400

$mobile: "only screen and (max-width: 400px)"
$tablet: "only screen and (min-width: 400px) and (max-width: 1050px)"
$above: "only screen and (min-width: 780px)"
$below: "only screen and (max-width: 780px)"
